h1 {
    font-size: 60px;
    color: black;
}

p {
    font-size: 20px;
}
.card{
    margin: 100px;
    font-family: 'Lato';
    text-align: center;
    background-color: rgb(213, 240, 228);
    padding-top: 30px;
    color:black;
    border: solid 8px;
    border-color: black;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}


button {
    padding: 15px;
    border-radius: 20px;
    width: 250px;
    margin: 20px;
}

button:hover{
    background-color: rgb(184, 184, 184);
}

.proj:hover span {
    display: none;
}

.proj:hover:before{
    content: "Tic Tac Toe!";
    color: black;
    font-size: 20px;
}

.links {
    margin: 40px;
}

.icon {
    width: 60px;
    margin: 20px;
}

.icon:hover {
    opacity: 70%;
}
