body {
    font-family: 'Lato';
    background-image: url('sparkle.gif');
    font-size: 20px;
    color: white;
}
.main, .body, .lang, .links {
    padding: 30px;
    border-bottom: solid 2px white;
}

img {
    margin-right: 10px;
}
.card{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: fit-content;
    color:white;
    border: solid 2px white;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    color: yellow;
}
